body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #dddddd;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #ff6600;
    padding: 5px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 46px;
}

header p {
    font-size: 22px;
}

#theme-button {
    position: fixed;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    top: 2px;
    left: 2px;
    z-index: 11;
}

nav {
    background-color: #393939;
    padding: 10px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.menu-section {
    margin: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.menu-item:last-child {
    border-bottom: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
